* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: white;
}

.App {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	font-family: Lato, sans-serif;
}

.alien-scouts-logo-container {
	display: flex;
	align-items: center;
	margin: 20px;
}

.alien-scouts-logo {
	max-height: 100px;
}
